/*
Fonte
*/

@font-face {
    font-family: 'AlexBrush';
    src: url("AlexBrush-Regular.ttf");
}

main{
    /*font-family: 'AlexBrush';*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-style: italic;*/
    font-weight: bold;
    font-variant: normal;
    font-size: 1rem;
}